@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --background: 340 100% 95%;
    --foreground: 340 5% 0%;
    --card: 340 50% 90%;
    --card-foreground: 340 5% 10%;
    --popover: 340 100% 95%;
    --popover-foreground: 340 100% 0%;
    --primary: 340 81.6% 46.9%;
    --primary-foreground: 0 0% 100%;
    --secondary: 340 30% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 302 30% 85%;
    --muted-foreground: 340 5% 35%;
    --accent: 302 30% 80%;
    --accent-foreground: 340 5% 10%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 340 5% 90%;
    --border: 340 30% 50%;
    --input: 340 30% 18%;
    --ring: 340 81.6% 46.9%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 340 50% 5%;
    --foreground: 340 5% 90%;
    --card: 340 50% 0%;
    --card-foreground: 340 5% 90%;
    --popover: 340 50% 5%;
    --popover-foreground: 340 5% 90%;
    --primary: 340 81.6% 46.9%;
    --primary-foreground: 0 0% 100%;
    --secondary: 340 30% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: 302 30% 15%;
    --muted-foreground: 340 5% 60%;
    --accent: 302 30% 15%;
    --accent-foreground: 340 5% 90%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 340 5% 90%;
    --border: 340 30% 18%;
    --input: 340 30% 18%;
    --ring: 340 81.6% 46.9%;
    --radius: 0.5rem;
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* https://zippystarter.com/tools/shadcn-ui-theme-generator */
