.card {
  background-image: url(https://images.unsplash.com/photo-1596394516093-501ba68a0ba6?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80);
  height: 200px;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.overlay {
  background-color: transparent;
  background-image: linear-gradient(
    20deg,
    var(--mantine-color-black) 20%,
    #312f2f 50%,
    var(--mantine-color-gray-4) 100%
  );
}

.content {
  position: absolute;
  inset: 0;
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-xl);
  z-index: 1;
}

.cardItems{
    position: absolute;
    right: 0;
    bottom: var(--mantine-spacing-lg)
}