.root {
  background-image: light-dark(url('/auth-light-background.svg'),url('/auth-dark-background.svg')); 
  min-height: 100vh;
  max-height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 16px;
  position: relative;
}

.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color:  light-dark(rgba(255, 255, 255, 0.295),rgba(0, 0, 0, 0.295));
  backdrop-filter: blur(95.2px);
  -webkit-backdrop-filter: blur(95.2px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.paper{
  background-color: light-dark(rgba(#ffffff, 0.6),rgba(#000000, 0.6));
  width: 40rem;
  @include mantine.smaller-than(mantine.$mantine-breakpoint-md) {
    width: 35rem;
  }
  @include mantine.smaller-than(mantine.$mantine-breakpoint-sm) {
    width: 25rem;
  }
  @include mantine.smaller-than(mantine.$mantine-breakpoint-xs) {
    width:100%;
  }
} 
